pynput==1.7.3
pyscreenshot==0.6.0
sounddevice==0.4.3
Pillow
python-dotenv
pyinstaller
psutil
PySimpleGUI
PyFiglet
tqdm
cryptography
Crypto
pycryptodome
numpy
wave
flask
pytest
flake8

